

<div id="teamMembersPanel" class="panel">
	<h2 class="text-gray">1.  Who are you</h2>
	<p>
		<div class="btn-group btn-group-justified">
			<div class="btn-group" ng-repeat="name in teamMembers">
				<button class="btn btn-lg btn-default " ng-click="MyNameIs(name)">{{name}}</button>
			</div>
		</div>
	</p>
</div>

<div id="reasonPanel" class="panel">
	<h2 class="text-gray">2.  What happened</h2>
	<textarea class="mood-text" rows="3" ng-model="whatHappened" placeholder="You can leave it empty if you wish"/></textarea>
</div>

<div id="moodPanel" class="panel">
	<h2 class="text-gray">3.  Tell how you feel</h2>
	<div class="btn-group btn-group-justified">
		<div class="btn-group" ng-repeat="m in moods">
			<button class="btn btn-lg btn-primary "  ng-click="IFeel(m)">{{m.MoodName}}</button>
		</div>
	</div>
</div>

